body{
    background-color: #990909;
    font-size: 18px;
    margin:0 auto;
    color:white;
}
a{
    text-decoration: none; 
    color: #F4EBEC;
}
li{
   list-style-type: none; 
}

/*
.module{
    background: #990909;  
}

.gradient{
    text-align: center;
    max-width: 250px;
    padding: 1rem;
    position: relative;
    background: linear-gradient(to right, red, purple);
    padding: 3px;
}
*/
.module img{
    padding-left: 460px;
    width: 570px;
}

.container{
    margin-left:7px;
}



nav{
    background-color:#000000;
}
.nav{
    display: flex;
    padding-top: 25px;
    padding-bottom: 6px;}
.nav a{
    margin-left:86px;
}
.nav img{
    height: 140px;
    margin-left: 19px;
}



main{
    display: flex;
}
.aside_left{
    background-color:#7D0909;
    padding-right: 60px;
    padding-top: 5px;
    height: 350px;
}
.aside_left div {
    margin-bottom: 30px;
}

.aside_right{
    background-color:#E3DDDD;
    color:black;
}
.aside_right h3{
    text-align: center;
    margin-top: 0;
    background-color:#BEBBC1;
} 
.aside_right hr{
    width: 65%;
}




footer{
    background-color: #E95B11;
    text-align: center;
    font-size: 20px;
}
